body {
    margin: 0;
    padding: 0;
}

body * {
    vertical-align: top;
}


h2 {
    color: #fff;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
}

.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.box {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background: blue;
    color: #fff;
    margin: auto;
    margin-top: 100px;
}

.box.active {
    height: 400px;
    -webkit-transition: all 5s ease;   
}

.boxcontainer {
    margin:0 auto;
    display: block;
    height: 400px;
    width: 200px;
    margin-top: 100px;
}

.box-two {
    margin: 0 auto;
    display: block;
    margin-top: -21px;
    height: 50px;
    width: 200px;
    color: black;
    vertical-align: middle;
    text-align: center;
    margin-top: 100px;
}

.box-three {
    margin: 0 auto;
    margin-top: 100px;
    display: block;
    height: 200px;
    width: 200px;
    background: red;
    opacity: 0;
    -webkit-transition: all 5s ease;   

    &.active {
        padding-left: 200px;
    }

    &.visible {
        opacity: 1;
    }
}


.box-four {
    margin: 0 auto;
    margin-top: 100px;
    display: block;
    height: 200px;
    width: 200px;
    background: black;

    &.active{
        background: red;
    }
}
 
.box-five {
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: blue;
    color: #fff;
}

.box-fivecontainer {
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    height: 200px;
    width: 200px;
    color: #fff;
}

.box-six {
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: green;
    color: #fff;

    &.larger {
        height: 300px;
        width: 300px;
    }

}

.boxer {
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    display: block;
    height: 500px;
    width: 709px;
}

.ball {
    position: absolute;
    display: block;
    margin-left: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: black;
    -webkit-transition: all 1.5s;

    &.falling {
        margin-top: 220px;
    }
}

.triangle {
    margin: 290px 300px;
    position: absolute;
    display: block;
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid black;
}

.bar {
    margin: 270px 68px;
    position: absolute;
    display: block;
    height: 20px;
    width: 576px;
    background: black;
    -webkit-transition: all .3s; 

    &.spin {
        -webkit-transform: rotate(-10deg);
        transition-delay: .7s;
    }
}

.ball-two {
    position: absolute;
    display: block;
    margin-top: 170px;
    margin-left: 571px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: black;
    -webkit-transition: all .5s;  

    &.fly {
        margin-top: -400px;
        transition-delay: .7s;
    }
}

.pooltable {
    margin: 0 auto;
    position: absolute;
    display: block;
}

.stick {
    position: absolute;
    top: 159px;
    right: -844px;
    -webkit-transition: all .3s;

    &.move {
        position: absolute;
        right: -735px;
    }
}

.eightball {
    position: absolute;
    top: 166px;
    right: 681px;
    opacity: 1;
    -webkit-transition: all .3s; 
    

    &.next {
        position: absolute;
        top: 426px;
        right: 829px;
        -webkit-transform: rotate(1000deg);
        transition-delay: .3s;
    }


}

.cueball {
    position: absolute;
    top: 153px;
    right: 183px;
    -webkit-transition: all .3s; 

    &.active {
        position: absolute;
        top: 135px;
        right: 643px;

        -webkit-transform: rotate(20deg);
        transition-delay: .1s;
    }
}


