body {
    margin: 0;
    padding: 0;
    font-family:'Didact Gothic', sans-serif;
}

body * {
    vertical-align: top;
}


h2 {
    color: #fff;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
}

.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.box {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background: rgb(98, 126, 156);
    color: #fff;
    margin: auto;
    margin-top: 100px;
    line-height: 200px;
}

.box.active {
    height: 400px;
    -webkit-transition: all 5s ease;   
}

.boxcontainer {
    margin: 100px auto;
    display: block;
    height: 400px;
    width: 200px;
}

.box-two {
    margin: 0 auto;
    display: block;
    margin-top: -21px;
    height: 50px;
    width: 200px;
    color: black;
    vertical-align: middle;
    text-align: center;
}

.box-three {
    margin: 0 auto;
    margin-top: 100px;
    display: block;
    height: 200px;
    width: 200px;
    background: rgb(170, 188, 211);
    line-height: 200px;
    -webkit-transition: all 5s ease;   

    &.active {
        padding-left: 200px;
        text-align: center;
    }

}


.box-four {
    margin: 0 auto;
    margin-top: 100px;
    display: block;
    height: 200px;
    width: 200px;
    background: rgb(98, 126, 156);
    line-height: 200px;

    &.active{
        background: rgb(242, 185, 88);
    }
}
 
.box-five {
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: rgb(19, 170, 225);
    color: #fff;
    line-height: 200px;
}

.box-fivecontainer {
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    height: 200px;
    width: 200px;
    color: #fff;
}

.box-six {
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: rgb(170, 188, 211);
    color: #fff;
    line-height: 200px;

    &.larger {
        height: 300px;
        width: 300px;
    }

}

.box-seven {
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: rgb(65, 79, 104);
    color: #fff;
    line-height: 200px;
}

.minibox {
    margin: 0 auto;
    margin-top: 10px;
    height: 50px;
    width: 50px;
    background: black;
    opacity: 0;

    &.appear {
        opacity: 1;
    }
}



.box-eight {
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: rgb(98, 126, 156);
    color: #fff;
    line-height: 200px;
    -webkit-transition: all .5s;

    &.largerspin {
         -webkit-transform: rotate(180deg);
         height: 400px;
         width: 400px;
    }
}

.boxer {
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    display: block;
    height: 500px;
    width: 709px;
}

.ball {
    position: absolute;
    display: block;
    margin-left: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: black;
    line-height: 50px;
    -webkit-transition: all 1.5s;

    &.falling {
        margin-top: 220px;
        -webkit-transform: rotate(-200deg);
    }
}

.triangle {
    margin: 290px 300px;
    position: absolute;
    display: block;
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid black;
}

.bar {
    margin: 270px 68px;
    position: absolute;
    display: block;
    height: 20px;
    width: 576px;
    background: black;
    -webkit-transition: all .3s; 

    &.spin {
        -webkit-transform: rotate(-10deg);
        transition-delay: .7s;
    }
}

.ball-two {
    position: absolute;
    display: block;
    margin-top: 170px;
    margin-left: 571px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: black;
    -webkit-transition: all .5s;  

    &.fly {
        margin-top: -400px;
        transition-delay: .7s;
    }
}

.pooltable {
    margin: 0 auto;
    display: block;
    position: relative;
}

.pooltable span {
    position: absolute;
    top: 228px;
    right: 364px;
    text-align: center;
    color: #fff;
    font-size: 55px;
    opacity: 0;

    &.change {
        opacity: 1;
        transition-delay: 1s;
    }
}

.stick {
    position: absolute;
    top: 159px;
    right: -844px;
    -webkit-transition: all .3s;

    &.move {
        position: absolute;
        right: -735px;
    }
}

.eightball {
    position: absolute;
    top: 166px;
    right: 681px;
    opacity: 1;
    -webkit-transition: all .3s; 
    

    &.next {
        position: absolute;
        top: 426px;
        right: 867px;
        -webkit-transform: rotate(1000deg);
        transition-delay: .3s;
    }

    &.away {
        position: absolute;
        top: 426px;
        right: 867px;
        opacity: 0;
        transition-delay: 3s;
    }


}

.cueball {
    position: absolute;
    top: 153px;
    right: 183px;
    -webkit-transition: all .3s; 

    &.active {
        position: absolute;
        top: 135px;
        right: 643px;

        -webkit-transform: rotate(20deg);
        transition-delay: .1s;
    }
}

.write {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    height: 50px;
    width: 200px;border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: inset 0px 2px 2px rgb(133, 133, 132);

}

.rectangle {
    display: block;
    height: 50px;
    width: 200px;
    margin: 0 auto;
    background: rgb(98, 126, 156);
    margin-top: 100px;
    line-height: 50px;
}

.toggle {
    display: block;
    margin: 0 auto;
}

.box-ten {
    margin: 100px auto;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
}

 
.box-eleven {
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: rgb(110, 156, 185);
    color: #fff;

    &.gone {
        background: rgb(242, 185, 88);
    }
}

.box-twelve {
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: rgb(19, 170, 225);
    color: #fff;
    border-radius: 100px;
    line-height: 200px;

    &.active {
        border-radius: 0;
        background: rgb(98, 126, 156);
    }
}


.buttonlever {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    height: 45px;
    width: 60px;
    background: black;
    color: #fff;
    text-align: center;
}

.box-thirteen {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background: rgb(110, 156, 185);
    color: #fff;
    line-height: 200px;

    &.active {
        padding: 50px;
    }
}

.box-fourteen {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background: rgb(98, 126, 156);
    color: #fff;
    margin-top: 100px;
    -webkit-transition: all .3s;

    &.active {
        width: 300px;
        height: 300px;
    }
}

.box-fifteen {
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: rgb(170, 188, 211);
    color: #fff;
    line-height: 200px;

    &.active {
        height: 30px;
        width: 500px;
    }
}

.box-sixteen {
    margin: 0 auto;
    margin-top: 100px;
    height: 400px;
    width: 700px;
    background: rgb(242, 185, 88);
    color: #fff;
    line-height: 400px;

    &.active {
        margin: 20px;
    }
}

.box-seventeen {
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: rgb(65, 79, 104);
    color: #fff;
    border-radius: 100px;
    line-height: 200px;
    -webkit-transition: all .3s;

    &.active {
        height: 700px;
        width: 700px;
        line-height: 700px;
        border-radius: 350px;
    }
}

.box-eighteen {
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: rgb(98, 126, 156);
    color: #fff;
    line-height: 200px;
    -webkit-transition: all .5s;

    &.active {
        height: 20px;
        width: 20px;
        border-radius: 100px;
    }
}

.box-nineteen {
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: rgb(242, 185, 88);
    color: #fff;
    line-height: 200px;

    &.active {
        background: rgb(170, 188, 211);;
    }
}
.littlebox {
    margin-top: -50px;
    margin-left: 50px;
    position: absolute;
    height: 20px;
    width: 20px;
    background: black;

    &.active {
        margin-left: 200px;
    }
}


.box-twenty {
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: rgb(19, 170, 225);
    color: #fff;
    line-height: 200px;
}

.box-twentyone {
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: rgb(242, 185, 88);
    color: #fff;
    line-height: 200px;
    
    &.active {
        line-height: 30px;
    }
}

